@{
    ViewData["Title"] = "Оформление заказа";
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
<div>
    <h3>Форма оформления покупки</h3>
    <p>Для оформления покупки заполните следующие поля:</p>
    <form method="post">
        <input type="hidden" value="@ViewData["Id"]" name="FoodProcessorId"/>
        <table>
            <tr>
                <td>Имя:</td>
                <td>
                    <input type="text" name="User"/>
                </td>
            </tr>
            <tr>
                <td>Адрес:</td>
                <td>
                    <input type="text" name="Address"/>
                </td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td>
                    <input type="text" name="ContactPhone"/>
                </td>
            </tr>
            <tr>
                <td>Срочность:</td>
                <td>
                    <input type="checkbox" name="isUrgently"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Отправить"/>
                </td><td></td>
            </tr>
        </table>
    </form>
    <button onclick="location.href='@Url.Action("Index", "Home")';return false;">Отмена</button>
</div>
</body>
</html>